@use "../../sass-variables/variables";

.btn {
    text-decoration: none;
    border: none;
    cursor: pointer
}

.text-input-field {
    font-family: variables.$navbarBtnFont
}

.success-message {
    color: rgb(6, 171, 0);
}
